<%= form_for(@catunidadmed) do |f| %>
  <% if @catunidadmed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catunidadmed.errors.count, "error") %> prohibited this catunidadmed from being saved:</h2>

      <ul>
      <% @catunidadmed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
