<% if @total_ventas_contado != nil%>
  <div class="count"><%= (@total_ventas_contado).round(2)%> $</div>
  <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
<%end%>
