<% if @total_ventas_credito != nil%>
  <div class="count"><%= (@total_ventas_credito).round(2)%> $</div>
  <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
<% end %>
